:root {
    --font-family-main: "Manrope", sans-serif;
    --color-corp: #F26A21;
    --color-corp-2: #0161CE;
}

body {
    font-family: var(--font-family-main);
    line-height: 1.2;
}

a {
    color: inherit;
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1 !important;
}


/* typography */

.text-4xl {
    font-size: clamp(2.125rem, 1.3rem + 4.125vw, 6.25rem);
}

.text-3xl {
    font-size: clamp(1.5rem, 0.8rem + 3.5vw, 5rem);
}

.text-2xl {
    font-size: clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem);
}

.text-xl {
    font-size: clamp(1.625rem, 1.325rem + 1.5vw, 3.125rem);
}

.text-lg {
    font-size: clamp(1.5rem, 1.25rem + 1.25vw, 2.75rem);
}

.text-md {
    font-size: clamp(1.125rem, 1rem + 0.625vw, 1.75rem);
}

.text-sm {
    font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
}

.text-xs {
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.text-2xs {
    font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
}


/* utils */

.text-corp {
    color: var(--color-corp)
}

.text-corp-2 {
    color: var(--color-corp-2)
}

.text-light-2 {
    color: #FAFAFA;
}

.bg-corp {
    background: var(--color-corp);
}

.bg-corp-2 {
    background: var(--color-corp-2);
}

.bg-corp-2 {
    background: var(--color-corp-2);
}

.bg-dark-2 {
    background: #0E1317;
}

.bg-dark-3 {
    background: #1B1B1B;
}

.bg-main {
    background: #EAF5FF;
}

.bg-main-2 {
    background: rgba(249, 250, 251, 1);
}

.bg-main-3 {
    background: #F9F8FB;
}

.bg-main-3 {
    background: #FCFCFC;
}

.w-fit-content {
    width: fit-content;
}

.w-max-content {
    width: max-content !important;
}

.w-lg-fit-content {
    width: fit-content;
}

.position-md-absolute {
    position: absolute;
}

.position-lg-absolute {
    position: absolute;
}

.btn {
    border-radius: 8px;
    font-family: var(--font-family-2);
    min-width: 250px;
    padding: 10px 10px;
    font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.btn-corp {
    background: var(--color-corp);
    color: white;
}

.btn-white {
    background: white;
    color: var(--color-corp);
}

.btn-outline-corp {
    border: 1px solid var(--color-corp);
}

.btn-outline-white {
    border: 1px solid white;
    color: white;
}

.btn-long {
    min-width: 300px;
}

.rounded-sm-5 {
    border-radius: 40px;
}

.fw-extralight {
    font-weight: 200 !important;
}

.mt-custom {
    margin-top: -40px;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-90 {
    width: 90%;
}

.border-corp {
    border-color: var(--color-corp) !important;
}

.border-corp-2 {
    border-color: var(--color-corp-2) !important;
}


/* bootstrap components castomization */

.navbar-toggler:focus {
    box-shadow: none;
}

.main-header .nav-link {
    color: white;
}

.main-header .nav-link:hover {
    color: rgb(149, 149, 149);
}

.main-header .navbar-toggler-icon {
    background-image: url('icons/main-icons/burger.svg');
    width: 1em;
    height: 1em;
}

.navbar-toggler {
    border: none;
}

.dropdown-toggle::after {
    display: none;
}


/* custom styles */

.icon-size-md {
    height: 60px;
}

.icon-size-sm {
    height: 50px;
}

.card-hover,
.card-hover *,
.card-hover-2,
.card-hover * {
    transition: all 0.3s ease;
}

.card-hover {
    background: #121212;
}

.card-hover-2 {
    background: white;
}

.card-hover:hover {
    background: var(--color-corp);
}

.card-hover-2:hover {
    background: var(--color-corp-2);
}

.card-hover-2:hover p {
    color: white !important;
}

.card-hover:hover img,
.card-hover-2:hover img {
    filter: contrast(0%) brightness(2);
}

.h-lg-100vh {
    height: 100vh;
}

.logo-width {
    width: 300px;
}

.icon-box {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-position-1,
.logo-position-2 {
    height: 40px;
}

.logo-position-1 {
    left: 5%;
    top: 5%;
}

.logo-position-2 {
    bottom: 5%;
    right: 5%;
}

.main-header {
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100%;
}

.logo {
    width: 200px;
}

.main-header .navbar-collapse.show,
.main-header .navbar-collapse.collapsing {
    background: var(--color-corp);
    padding-left: 20px;
}

.services h6 {
    height: 45px;
}

.services .btn-container {
    position: absolute;
    top: 0;
    right: 0;
}

.project p {
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    left: 1rem;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #717171;
    background: #242424;
    padding: 12px 20px;
}

.form-control::placeholder {
    color: #717171;
}

@media(max-width: 1200px) {
    .icon-size-xs {
        height: 30px;
    }
}

@media(max-width: 990px) {
    .w-lg-fit-content {
        width: 100%;
    }
    .h-lg-100vh {
        height: fit-content;
    }
    .banner-img {
        height: 500px;
    }
    .services .btn-container {
        bottom: 0;
        top: unset;
        right: 50%;
        transform: translateX(50%);
    }
}

@media(max-width: 576px) {
    .logo-width {
        width: 200px;
    }
    .logo-position-1,
    .logo-position-2 {
        height: 30px;
    }
    .logo-position-1 {
        left: 2%;
        top: 2%;
    }
    .logo-position-2 {
        bottom: 2%;
        right: 2%;
    }
    .logo {
        width: 100px;
    }
    .banner-img {
        height: 450px;
    }
    .icon-size-sm {
        height: 40px;
    }
    .icon-size-xs {
        height: 25px;
    }
}